@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5,p,a, button, span, input, select{
    font-family: 'Poppins', sans-serif !important;
    color: whitesmoke;
}

h1{
    color: #ed593b !important;
    font-size: 2.0rem;
    text-align: center;
    margin: 30px;
}

a{
    background-color: #31394c;
    padding: 10px;
    margin: 2.5px;
    border-radius: 4px;
    box-shadow: 0 4px #0f2032;
    transition: 0.1s ease-in-out;
}

a:hover{
    color: whitesmoke !important;
}

a:active{
    transform: translateY(4px);
    box-shadow: 0 0 #0f2032;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #0f2032;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #ed593b;
    margin: 0px;
    padding-right: 30px;
    position: sticky;
    top: 0px;
    z-index: 99;
}

nav img{
    max-height: 80px;
}

.menuUl{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
}

.menuUl a{
    text-decoration: none !important;
    color: whitesmoke;
}

.imgDiv img{
    max-width: 100%;
}

.textoImgDiv{
    display: flex;
    align-items: center;
}

/******************************************** fade in left *******************************************************/

.fadeInLeft{
    -webkit-animation: fadeInLeft 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInLeft 1.2s both; /* Fx 5+ */
    -o-animation: fadeInLeft 1.2s both; /* Opera 12+ */
    animation: fadeInLeft 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft{
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/********************************** fade in right ***********************************************************/

.fadeInRight{
    -webkit-animation: fadeInRight 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInRight 1.2s both; /* Fx 5+ */
    -o-animation: fadeInRight 1.2s both; /* Opera 12+ */
    animation: fadeInRight 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/**************************** fade out left **********************************/

.fadeOutLeft{
    -webkit-animation: fadeOutLeft 1.2s both; /* Safari 4+ */
    -moz-animation: fadeOutLeft 1.2s both; /* Fx 5+ */
    -o-animation: fadeOutLeft 1.2s both; /* Opera 12+ */
    animation: fadeOutLeft 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
  }

@-moz-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
}

@-o-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -o-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
}

@keyframes fadeOutLeft{
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

/************************** fade out right **************************************************/

.fadeOutRight{
    -webkit-animation: fadeOutRight 1.2s both; /* Safari 4+ */
    -moz-animation: fadeOutRight 1.2s both; /* Fx 5+ */
    -o-animation: fadeOutRight 1.2s both; /* Opera 12+ */
    animation: fadeOutRight 1.2s both; /* IE 10+, Fx 29+*/
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
  }

@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
}

@-o-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -o-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
}

@keyframes fadeOutRight{
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}
